################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/IdentityServer/obj
/src/IdentityServer/bin/Debug/netcoreapp2.2
