
<div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert">×</a>
    <h4>Success!</h4>
    New entry has been successfully added.
    <script>
        setTimeout(redirectToDetails, 1000);

        function redirectToDetails() {
            $('#my-modal-lg').modal('hide');
            $('#myModal').modal('hide');
        }

    </script>
</div>